body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.top-two-cols {
	display: flex;
	width: 69%;
	margin: 0 auto;
	justify-content: space-around;
	.left {
		width: 580px;
		img {
			width: 100%;
		}
	}
	.right {
		width: 278px;
		display: flex;
		align-items: center;
		margin-left: 50px;
		img {
			width: 100%;
			display: block;
			margin: auto 0;
			height: 70px;
		}
	}
}
ul{
	padding-left: 0;
}


._display-inline-block{
	display: inline-block;
}
header {
	.l-header {
		background-color: #000;
		color: #fff;
		padding-bottom: 80px;
		.main-view {
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.sp-main-view {
			display: none;
		}
		.subject {
			margin-top: 80px;
			margin-bottom: 50px;
			h3, h2 {
				text-align: center;
				.bigger {
					font-size: 56px;
					color: #d9b54a;
				}
			}
			h2 {
				font-size: 42px;
				line-height: 3.8125rem;
			}
			h3 {
				line-height: 2.5rem;
				font-size: 28px;
			}
		}
		.top-man-img{
			text-align: center;
			img{
				width: 50%;
			}
		}
		
		.top-recommend{
			max-width: 900px;
			margin: auto;
			ul{
				li{
					font-size: 32px;
					list-style: none;
					display: flex;
					span:first-child{
						margin-right: 15px;
						
					}
				}
			}
		}
		.forties-skin{
			&__text{
				font-weight: bold;
				text-align: center;
				font-size: 22px;
				line-height: 2.25rem;
				.gold {
					color: #d9b54a;
				}
			}
		}

	}
}

.dotted {
	padding-top: .4em;
	background-position: top left -2px;
	background-repeat: repeat-x;
	background-size: 1em .3em;
	background-image: radial-gradient(.1em .1em at center center,orange,orange 100%,transparent);
}

main {
	margin: 0 auto;
	.subject {
		margin-bottom: 50px;
		h3, h2 {
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			.bigger {
				font-size: 40px;
				color: #d9b54a;
			}
		}
		h2 {
			font-size: 32px;
			line-height: 3.8125rem;
		}
		h3 {
			line-height: 2.5rem;
			font-size: 28px;
		}
	}
	.main-top {
		background-color: #000;
		color: #fff;
		padding-bottom: 80px;
		p {
			font-weight: bold;
			text-align: center;
			font-size: 22px;
			line-height: 2.25rem;
			margin-top: 0;
			.gold {
				color: #d9b54a;
			}
		}
		.looks-old__contents{
			max-width: 890px;
			margin: auto;
			&__item{
				list-style: none;
				margin-bottom: 60px;
				.subject {
					margin-bottom: 20px;
					h3 {
						.bigger {
							font-size: 40px;
						}
					}
				}
				&__img{
					text-align: center;
					margin-bottom: 16px;
					img{
						width: 80%;
					}
					&-wrap{
						display: flex;
						width: 80%;
						margin: auto;
						img{
							&:first-child{
								margin-right: 15px;
							}
						}
					}
				}
				&__text{
					margin-left: 0;
					margin-right: 0;
					width: 80%;
					margin: auto;
				}
				&:nth-child(4){
					.looks-old__contents__item__img{
						display: flex;
						
					}
				}
			}
		}

		.measures{
			max-width: 800px;
			margin: auto;
			&-lists{
				li{
					font-size: 32px;
					font-weight: bold;
				}
			}
			&-item-img{
				img{
					width: 100%;
				}
			}
		}
		.arrow-to-down {
			width: 600px;
			margin: 30px auto;
		}
		.comments{
			&-img{
				max-width: 600px;
				width: 100%;
				margin: auto;
				img{
					width: 100%;
				}
			}
			&-text{
				font-size: 32px;
				margin-top: 20px;
				.bigger {
					font-size: 48px;
					line-height: 2.25;
					color: #d9b54a;
				}
			}
		}
		.human-cells{
			&-img{
				max-width: 600px;
				margin: auto;
				img{
					width: 100%;
				}
			}
			max-width: 1280px;
			margin: auto;
			&-about{
				text-align-last: left;
				margin-bottom: 60px;
			}
			h4 {
				max-width: 1120px;
				margin: 0 80px 25px 80px;
				font-size: 24px;
				padding-left: 15px;
				border-left: #d9b54a 8px solid;
			}
			p {
				font-size: 22px;
				line-height: 2.25rem;
			}
			p.stem-cell {
				font-size: 22px;
				line-height: 2.25rem;
				padding-left: 80px;
				padding-right: 80px;
			}
		}
		.about-monster {
			max-width: 1280px;
			margin: auto;
			position: relative;
			.image {
				bottom: 0;
				right: 0;
				position: absolute;
				width: 42%;
				img {
					width: 100%;
				}
			}
			.intro {
				background: transparent linear-gradient(270deg, #FFFFFF00 0%, #888888 100%) 0% 0% no-repeat padding-box;
				padding-top: 30px;
				padding-bottom: 30px;
				margin-bottom: 30px;
				padding-left: 80px;
				text-align-last: left;
				h2 {
					color: #d9b54a;
					font-size: 42px;
					margin-bottom: 12px;
					text-align: initial;
					text-shadow: 5px 5px 10px #000000;
					span{
						font-size: 28px;
					}
				}
				p {
					font-size: 22px;
					color: #fff;
				}
				.p-last {
					width: 52%;
				}
			}
		}
		.warranty{
			&-text{
				font-size: 24px;
				line-height: 3rem;
				text-align: center;
				.big{
					color: gold;
					font-size:40px;
				}
			}
		}
		h2 {
			text-align: center;
			font-size: 32px;
			.font-gold {
				color: #d9b54a;
			}
			.bigger {
				font-size: 40px;
			}
		}
		h2.big {
			font-size: 42px;
			margin-bottom: 65px;
			.bigger {
				font-size: 56px;
			}
		}
	}
}

footer .footer-top {
	padding-top: 120px;
	.footer-makuake {
		margin-bottom: 50px;
	}
	.line {
		width: 510px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

footer .footer-top .greeting {
	background-color: #fff;
	color: #000;
	width: 1120px;
	margin: 0 auto 72px;
	padding-bottom: 40px;
	h3.greeting-bottom {
		padding-top: 30px;
		text-align: right;
		padding-right: 40px;
		margin-bottom: 0;
		.small {
			font-size: 16px;
		}
        br {
            display: none;
        }
	}
	h4 {
		font-size: 32px;
		margin-bottom: 75px;
	}
	.columns {
		padding-left: 40px;
		display: flex;

		.text {
			font-size: 14px;
			line-height: 1.5rem;
			text-align: justify;
			width: 760px;
			margin-left: auto;
			margin-right: 40px;
		}
	}
}
footer{
	.footer-menu{
		display: flex;
		text-align: center;
		justify-content: center;
		margin-bottom: 0;
		padding-top: 40px;
		padding-bottom: 24px;
		li{
			list-style: none;
			margin-left: 30px;
			a{
				color: #fff;
				transition:all .3s;
				font-size: 16px;
				&:hover{
					opacity:.7;
					text-decoration: none;
				}
			}
		}
	}
}

.pc-none {
	display: none;
	@media screen and (max-width: 1280px) {
		display: block;
	}
}

footer .footer-line {
	width: 510px;
	margin: 0 auto;
	border: 1px solid #d9b54a;
}

footer .footer-bottom {
	padding-bottom: 120px;
}

footer .footer-top,
footer .footer-bottom {
	background-color: #000;
	color: #fff;
	text-align: center;
	h3 {
		margin-top: 0;
		padding-top: 100px;
		font-size: 32px;
		line-height: 2.875rem;
		margin-bottom: 40px;
	}
	p {
		font-size: 22px;
		line-height: 36px;
	}
}
.footer{
	&-qa{
		&-inner{
			max-width: 1280px;
			margin: auto;
		}
		.subject {
			text-align: center;
			margin-bottom: 30px;
			h2 {
				font-size: 32px;
				margin: 0;
				.bigger {
					color: gold;
					font-size: 48px;
				}
			}
		}
		background-color: #000;
		color: #fff;
		dl{
			margin-top: 0;
			h3{
				color: #fff;
				line-height: 3rem;
				border-left: 7px solid gold;
				padding-left: 10px;
				font-size: 28px;
				font-weight: bold;
			}
			dt,dd{
				display: flex;
				font-size: 22px;
				font-weight: bold;
				padding: 8px 10px;

				span{
					&:first-child{
						margin-right: 15px;
						font-size: 32px;
					}
				}
			}
			dt{
				background-color: gold;
				color: #000;
				align-items: center;
				margin-bottom: 30px;
			}
			dd{
				margin-left: 0;
				margin-bottom: 60px;
				align-items: start;
				span{
					&:first-child{
						margin-top: -7px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1220px) {
	header {
		.l-header {
			width: 100%;
			.main-view {
				width: 100%;
			}
			.two-cols {
				width: 80%;
				margin: 0 auto;
			}
			.three-cols {
				width: 95%;
				.d-1of3,
				.d-2of3,
				.d-3of3 {
					width: auto;
                    padding: 20px;
					img {
						width: 100%;
					}
				}
			}
            .subject {
                h2 {
                    font-size: 32px;
                    .bigger {
                        font-size: 56px;
                    }
                }
            }
		}
	}
	main {
		width: 100%;
		.main-top {
            .main-top-bottom {
                h3 {
                    font-size: 28px;
                }
            }
		}
		.main-middle {
			.main-middle-reason {
                h2 {
                    width: 90%;
					margin: 0 auto 45px;
                    line-height: 1.4;
                }
				.two-columns {
					width: 90%;
					margin: 0 auto 45px;
					.outer-reason,
					.inner-reason {
						width: calc((100% - 40px) / 2);
					}
				}
			}
		}
	}
	footer {
		.footer-top {
			margin-top: -1px;
			.greeting {
				width: 90%;
				.columns {
                    padding: 0;
                    width: 90%;
                    margin: 0 auto;
                    .photo {
                        width: 45%;
                        margin-right: 20px;
                        
                    }
					.text {
						width: 55%;
                        margin: 0;
					}
				}
                h3.greeting-bottom {
                    br {
                        display: none;
                    }
                }
			}
            .footer-makuake {
                img {
                    width: 100%;
                }
            }
        }
        .footer-bottom	{
            p {
                width: 90%;
                margin: 0 auto;
            }
        }
		.footer-qa{
			margin-top: -1px;
			box-sizing: border-box;
			padding: 0 32px;
		}
	}
}

@media screen and (max-width:769px) {
	.top-two-cols {
		display: block;
		.left {
			width: 100%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.right {
			width:100%;
			margin: 0 auto;
			justify-content: space-around;
			img {
				width: 60%;
			}
		}
	}
	header {
		.l-header {
            padding-bottom: 50px;
			.sp-main-view {
				display: block;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.main-view {
				display: none;
			}
            .subject {
                width: 90%;
                margin: 0 auto;
            }
			.subject h2 {
				font-size: 35px;
				.bigger {
					font-size: 48px;
				}
			}
			.top-recommend{
				padding: 0 16px;
				ul{
					li{
						span{
							i{
								margin-top: 15px;
							}
							&:first-child{
								font-size: 32px;
							}
						}
					}
				}
			}
		}
	}
	main {
		.main-top {
			.looks-old{
				&__contents{
					&__item{
						.subject {
							h3{
								
							}
						}
					}
				}
			}
            p {
                width: 90%;
                margin: 0 auto;
                text-align: left;
            }
			.measures{
				padding: 0 16px;
				&-lists{
					
				}
			}
            .arrow-to-down {
                width: 100%;
                margin: 60px auto;
                img {
                    width: 100%;
                }
            }
            h2 {
                font-size: 28px;
                width: 100%;
                margin: 0 auto;
                .bigger {
                    font-size: 32px;
                }
            }
            h2.big {
                font-size: 32px;
                .bigger {
                    font-size: 56px;
                }
            }
				.human-cells{
					.human-cells-img{
						margin-bottom: 24px;
					}
					.human-cells-about{
						.border-left{
							margin-bottom: 16px;
							margin-left: 40px;
							font-size: 28px;
						}
						.stem-cell{
							padding-right: 16px;
							padding-left: 16px;
						}
					}
				}
			.about-monster{
				.image{
					position: inherit;
					width: 70%;
					margin: auto;
					
				}
				.intro{
					padding-left: 0;
					padding-top: 16px;
					padding-bottom: 16px;
					
					h2{
						font-size: 32px;
						width: 90%;
						span{
							font-size: 24px;
						}
					}
					&:last-child{
						p{
							width: 90%;
						}
					}
				}
			}
			.components-skin{
				.main-bottom-accordion{
					.main-elements{
						width: 100%;
						background: transparent linear-gradient(90deg, #AAAAAA00 0%, #808080 5%, #808080 95%, #AAAAAA00 100%) 0% 0% no-repeat padding-box;
					}
				}
			}
		}
	}
    footer {
        .footer-top {
            .greeting {
                h3 {
                    font-size: 24px;
                    width: 90%;
                    margin: 0 auto 30px;
                }
                p {
                    width: 90%;
                    margin: 0 auto 30px;
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    font-size: 24px;
                    width: 90%;
                    margin: 0 auto 30px;
                }
                .columns {
                    display: block;
                    padding: 0;
                    .photo {
                        width: 90%;
                        margin: 0 auto 30px; 
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        width: 90%;
                        margin: 0 auto 30px;
                    }
                }
                h3.greeting-bottom {
                    padding: 0;
                    br {
                        display: inline;
                    }
                }
            }
            .line {
                width: 100%;
                img {
                    width: 90%;
                }
            }
        }
        .footer-bottom {
            h3 {
                margin: 0 auto 30px;
            }
            p {
                font-size: 16px;
                margin: 0 auto 30px;
                width: 90%;
            }
        }
		.footer-qa{
			padding: 0 16px;
		}
		.footer-menu{
			display: block;
			li{
				margin-left: 0;
				margin-bottom: 10px;
				a{
					font-size: 14px;
				}
			}
		}
    }
}
@media screen and (max-width:500px) {
	$sp-text: 16px;
	$sp-subject-h2: 18px;
	$sp-subject-big: 24px;
	.top-two-cols {
		.right {
			img {
				width: 100%;
			}
		}
	}
	header{
		.l-header{
			.subject{
				h2{
					font-size: $sp-subject-h2;
					line-height: 2.5rem;
					.bigger{
						font-size: $sp-subject-big;
					}
				}
			}
			.top-recommend{
				ul{
					li{
						span:first-child{
							margin-top: -8px;
							margin-right: 10px;
							i{
								font-size: $sp-text;
							}

						}
						span:last-child{
							font-size: $sp-text;
						}
					}
				}
			}
			.top-man-img{
				img{
					width: 100%;
				}
			}
			.forties-skin__text{
				font-size: $sp-text;
			}
		}
	}
	// main
	main{
		.subject{
			h2{
				font-size: $sp-subject-h2 !important;
				line-height: 2.5rem !important;
				.bigger,
				.big{
					font-size: $sp-subject-big !important;
				}
			}
		}
		margin-top: -1px;
		.main-top{
			margin-bottom: -1px;
			padding-bottom: 24px;
			.looks-old{
				.subject {
					h2{
						.bigger{
							display: block;
						}
					}
				}
				&__contents{
					&__item{
						margin-bottom: 24px;
						.subject{
							margin-bottom: 10px;
							h3{
								font-size: $sp-text;
								line-height: 2rem;
								.bigger{
									font-size: $sp-subject-h2;
								}
							}
						}
						&__img{
							margin-bottom: 10px;
							img{
								width: 100%;
							}
							&-wrap{
								width: 100%;
							}
						}
						&__text{
							font-size: $sp-text;
							line-height: 1.5rem;
						}
					}
				}
			}
			.measures{
				.subject{
					margin-bottom: 20px;
					.big{
						margin: 0;
						width: 100%;
					}
				}
				.subject:first-child{
					.bigger:first-child::before{
						content: "\A" ;
						white-space: pre;
					}
				}
				&-lists{
					padding-left: 30px;
					li{
						font-size:$sp-text ;
					}
				}
				.arrow-to-down{
					margin: 30px 0;
				}
				.subject:nth-child(2){
						// margin-bottom: 0;
					
				}
			}
			.comments{
				&-text{
					font-size: $sp-text;
					width: 100%;
					text-align: center;
					line-height: 1.5rem;
					.bigger{
						font-size: $sp-subject-h2;
					}
				}
			}
			.human-cells{
				.human-cells-about{
					margin-bottom: 30px;
					.border-left{
						margin: 16px;
						padding-left: 10px;
						font-size: 19px;
					}
					.stem-cell{
						font-size: $sp-text;
						line-height: 1.5rem;
						font-weight: 400;
					}
				}
			}
			.about-monster{
				.image{
					width: 80%;
				}
				.intro{
					h2{
						font-size: $sp-subject-h2;
						span{
							font-size: $sp-text;
						}
					}
					p{
						font-size: $sp-text;
						line-height: 1.5rem;
					}
				}
			}
			.components-skin{
				.main-bottom-accordion{
					.main-elements{
						font-size: $sp-subject-big;
						line-height: 2rem;
						padding: 8px 0;
					}
				}
			}
			.warranty{
				.subject {
					margin-bottom: 24px;
					.big{
						margin-bottom: 0;
					}
				}
				&-text{
					font-size: $sp-subject-h2;
					line-height: 2.35rem;
					width: 100%;
					.big{
						font-size: 24px;
					}
					._sp-new-line{
						&::before{
							content: "\A";
							white-space: pre;
						}
					}
					.sp-alert{
						font-size: 1rem;
					}
					.sp-display-none{
						display: none;
					}
				}
			}
		}
	}
	// footer.
	footer{
		.footer-top{
			padding-top: 24px;
			h3{
				padding-top: 24px;
			}
			.greeting{
				width: 90%;
				padding-bottom: 24px;
				margin-bottom: 24px;
				.columns{
					width: 100%;
					.text{
						width: 100%;
						box-sizing: border-box;
						padding: 0 16px;
					}
				}
			}
		}
		.footer-bottom{
			padding-bottom: 30px;
			h3{
				padding-top: 30px;
				margin-bottom: 16px;
			}
			p{
				width: 100%;
				box-sizing: border-box;
				padding: 0 16px;
				font-size: $sp-text;
				.sp-display-none{
					display: none;
				}
			}
		}
		.footer-qa{
			&-inner{
				.subject {
					.big{
						.bigger{
							font-size: $sp-subject-big;
						}
					}
				}
				dl{
					dt{
						align-items: start;
						margin-bottom: 10px;
					}
					dt,
					dd{
						span{
							&:first-child{
								margin-top: -3px;
								font-size: $sp-subject-big;
								margin-right: 5px;
							}
							&:last-child{
								font-size: $sp-subject-h2;
							}
						}
					}
					dd{
						margin-bottom: 24px;
						span{
							&:last-child{
								font-size: $sp-text;
								font-weight: normal;
							}
						}
					}
					h3{
						font-size: 20px;
						padding-left: 6px;
					}
				}
			}
		}
	}
}