body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.top-two-cols {
	display: flex;
	width: 69%;
	margin: 0 auto;
	justify-content: space-around;
	.left {
		width: 580px;
		img {
			width: 100%;
		}
	}
	.right {
		width: 278px;
		display: flex;
		align-items: center;
		margin-left: 50px;
		img {
			width: 100%;
			display: block;
			margin: auto 0;
			height: 70px;
		}
	}
}
ul{
	padding-left: 0;
}


._display-inline-block{
	display: inline-block;
}
header {
	.l-header {
		background-color: #000;
		color: #fff;
		padding-bottom: 80px;
		.main-view {
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.sp-main-view {
			display: none;
		}
		.subject {
			margin-top: 80px;
			margin-bottom: 50px;
			h3, h2 {
				text-align: center;
				.bigger {
					font-size: 3.5rem;
					color: #d9b54a;
				}
			}
			h2 {
				font-size: 2.625rem;
				line-height: 3.8125rem;
			}
			h3 {
				line-height: 2.5rem;
				font-size: 1.75rem;
			}
		}
		.top-man-img{
			text-align: center;
			img{
				width: 50%;
			}
		}
		
		.top-recommend{
			max-width: 900px;
			margin: auto;
			ul{
				li{
					font-size: 2rem;
					list-style: none;
					display: flex;
					span:first-child{
						margin-right: 15px;
						
					}
				}
			}
		}
		.forties-skin{
			&__text{
				font-weight: bold;
				text-align: center;
				font-size: 1.375rem;
				line-height: 2.25rem;
				.gold {
					color: #d9b54a;
				}
			}
		}

	}
}

.dotted {
	padding-top: .4em;
	background-position: top left -2px;
	background-repeat: repeat-x;
	background-size: 1em .3em;
	background-image: radial-gradient(.1em .1em at center center,orange,orange 100%,transparent);
}

main {
	margin: 0 auto;
	.subject {
		margin-bottom: 50px;
		h3, h2 {
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			.bigger {
				font-size: 3.5rem;
				color: #d9b54a;
			}
		}
		h2 {
			font-size: 2.625rem;
			line-height: 3.8125rem;
		}
		h3 {
			line-height: 2.5rem;
			font-size: 1.75rem;
		}
	}
	.main-top {
		background-color: #000;
		color: #fff;
		padding-bottom: 80px;
		p {
			font-weight: bold;
			text-align: center;
			font-size: 1.375rem;
			line-height: 2.25rem;
			margin-top: 0;
			.gold {
				color: #d9b54a;
			}
		}
		.looks-old__contents{
			max-width: 890px;
			margin: auto;
			&__item{
				list-style: none;
				margin-bottom: 60px;
				.subject {
					margin-bottom: 20px;
					h3 {
						.bigger {
							font-size: 2.5rem;
						}
					}
				}
				&__img{
					text-align: center;
					margin-bottom: 16px;
					img{
						width: 80%;
					}
					&-wrap{
						display: flex;
						width: 80%;
						margin: auto;
						img{
							&:first-child{
								margin-right: 15px;
							}
						}
					}
				}
				&__text{
					margin-left: 0;
					margin-right: 0;
					width: 80%;
					margin: auto;
				}
				&:nth-child(4){
					.looks-old__contents__item__img{
						display: flex;
						
					}
				}
			}
		}

		.measures{
			max-width: 800px;
			margin: auto;
			&-lists{
				li{
					font-size: 2rem;
					font-weight: bold;
				}
			}
			&-item-img{
				img{
					width: 100%;
				}
			}
		}
		.arrow-to-down {
			width: 600px;
			margin: 30px auto;
		}
		.comments{
			&-img{
				max-width: 600px;
				width: 100%;
				margin: auto;
				img{
					width: 100%;
				}
			}
			&-text{
				font-size: 2rem;
				margin-top: 20px;
				.bigger {
					font-size: 3rem;
					line-height: 2.25;
					color: #d9b54a;
				}
			}
		}
		.human-cells{
			&-img{
				max-width: 600px;
				margin: auto;
				img{
					width: 100%;
				}
			}
			max-width: 1280px;
			margin: auto;
			&-about{
				text-align-last: left;
				margin-bottom: 60px;
			}
			h4 {
				max-width: 1120px;
				margin: 0 80px 25px 80px;
				font-size: 1.5rem;
				padding-left: 15px;
				border-left: #d9b54a 8px solid;
			}
			p {
				font-size: 1.375rem;
				line-height: 2.25rem;
			}
			p.stem-cell {
				font-size: 1.375rem;
				line-height: 2.25rem;
				padding-left: 80px;
				padding-right: 80px;
			}
		}
		.about-monster {
			max-width: 1280px;
			margin: auto;
			position: relative;
			.image {
				bottom: 0;
				right: 0;
				position: absolute;
				width: 42%;
				img {
					width: 100%;
				}
			}
			.intro {
				background: transparent linear-gradient(270deg, #FFFFFF00 0%, #888888 100%) 0% 0% no-repeat padding-box;
				padding-top: 30px;
				padding-bottom: 30px;
				margin-bottom: 30px;
				padding-left: 80px;
				text-align-last: left;
				h2 {
					color: #d9b54a;
					font-size: 2.625rem;
					margin-bottom: 12px;
					text-align: initial;
					text-shadow: 5px 5px 10px #000000;
					span{
						font-size: 1.8rem;
					}
				}
				p {
					font-size: 1.375rem;
					color: #fff;
				}
				.p-last {
					width: 52%;
				}
			}
		}
		.warranty{
			&-text{
				font-size: 1.5rem;
				line-height: 3rem;
				text-align: center;
				.big{
					color: gold;
					font-size: 2.5rem;
				}
			}
		}
		.main-bottom-accordion {
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			h2.main-elements {
				margin-bottom: 40px;
				background: transparent linear-gradient(90deg, #AAAAAA00 0%, #808080 23%, #808080 77%, #AAAAAA00 100%) 0% 0% no-repeat padding-box;
				color: #fff;
				text-align: center;
				font-size: 2rem;
				line-height: 46px;
                br {
                    display: none;
                }
			}
		}
		.main-top-bottom {
			h3 {
				font-size: 2rem;
				line-height: 46px;
				text-align: center;
				.bigger {
					font-size: 40px;
					line-height: 46px;
				}
				.gold {
					background-color: #d9b54a;
					color: #000;
				}
			}
			h4 {
				text-align: center;
				span {
					color: #d9b54a;
					font-size: 100px;
				}
			}
			p {
				text-align: center;
			}
		}
		h2 {
			text-align: center;
			font-size: 2rem;
			.font-gold {
				color: #d9b54a;
			}
			.bigger {
				font-size: 2.5rem;
				.dotted {
					padding-top: .4em;
					background-position: top left -2px;
					background-repeat: repeat-x;
					background-size: 1em .3em;
					background-image: radial-gradient(.1em .1em at center center,orange,orange 100%,transparent);
				}
			}
		}
		h2.big {
			font-size: 2.65rem;
			margin-bottom: 65px;
			.bigger {
				font-size: 3.5rem;
			}
		}
		
		p.about-graph {
			font-size: 1.25rem;
			.color-1 {
				color: #d9b54a;
			}
			.color-3 {
				color: #808080;
			}
			.color-2 {
				color: #D3BD94;
			}
			.color-4 {
				color: #333333;
			}
		}
		p.about-graph-right {
			text-align: right;
			font-size: 1rem;
			padding-right: 80px;
			margin-bottom: 65px;
		}
	}
	.main-middle {
		padding-top: 65px;
		.main-middle-reason {
			h2 {
				text-align: center;
				font-size: 2rem;
				line-height: 2.625rem;
				font-weight: bold;
				span.gold {
					font-size: 3rem;
					color: #d9b54a;
				}
			}
			.two-columns {
				display: flex;
				width: 1120px;
				justify-content: space-between;
				margin: 0 auto;
				.outer-reason {
					border: 2px solid #d9b54a;
					width: calc((100% - 40px) / 2);
					box-sizing: border-box;
					position: relative;
					padding: 25px 40px 0;
					margin-top: 122px;
					.reason-box {
						margin-bottom: 25px;
						display: flex;
						align-items: center;
						.right {
							margin-left: 30px;
							p {
								font-size: 1.5rem;
							}
						}
					}
				}
				.outer-reason::before {
					font-size: 1.875rem;
					font-weight: bold;
					line-height: 80px;
					position: absolute;
					top: -80px;
					left: 0;
					height: 80px;
					padding: 0 1em;
					content: '\外的要因';
					color: #000;
					background: #d9b54a;
				}
				.inner-reason {
					border: 2px solid #d9b54a;
					width: calc((100% - 40px) / 2);
					box-sizing: border-box;
					margin-top: 122px;
					position: relative;
					padding: 25px 40px 0;
					.reason-box {
						display: flex;
						align-items: center;
						margin-bottom: 25px;
						.right {
							margin-left: 30px;
							p {
								font-size: 1.5rem;
							}
						}
					}
				}
				.inner-reason::before {
					font-size: 1.875rem;
					font-weight: bold;
					line-height: 80px;
					position: absolute;
					top: -80px;
					left: 0;
					height: 80px;
					padding: 0 1em;
					content: '\内的要因';
					color: #000;
					background: #d9b54a;
				}
				margin-bottom: 45px;
			}
			p.last {
				font-size: 1.375rem;
				margin-bottom: 85px;
				text-align: center;
				font-weight: bold;
			}
		}
	}
	.main-skin {
		background-color: #000;
		color: #fff;
		text-align: center;
		padding-top: 85px;
		padding-bottom: 80px;
		h2 {
			font-size: 2rem;
			line-height: 3rem;
			margin-bottom: 48px;
			.bigger {
				font-size: 100px;
				line-height: 100px;
				color: #d9b54a;
			}
		}
		h1 {
			font-size: 2.625rem;
			margin-bottom: 35px;
			.bigger {
				line-height: 5rem;
				font-size: 3.5rem;
			}
		}
		p.question {
			font-size: 1.375rem;
			line-height: 2rem;
            br {
                display: none;
            }
		}
		.answer {
			margin-bottom: 40px;
		}
		h3 {
			font-size: 2rem;
			margin-bottom: 5px;
			.dotted {
				padding-top: .4em;
				background-position: top left -2px;
				background-repeat: repeat-x;
				background-size: 1em .3em;
				background-image: radial-gradient(.1em .1em at center center,orange,orange 100%,transparent);
			}
		}
		p {
			font-size: 1.375rem;
			font-weight: bold;
			line-height: 2.25rem;
			.except {
				background-color: #d9b54a;
				line-height: 2rem;
				font-size: 1.75rem;
				color: #000;
			}
		}
	}
	.two-worries {
		padding-top: 75px;
		text-align: center;
		.title {
			font-size: 2rem;
			line-height: 46px;
		}
		h2.worries {
			line-height: 81px;
			font-size: 4rem;
			.bg-gold {
				background-color: #d9b54a;
			}
		}
		h3.under-line {
			border-bottom: 1px solid #333;
			font-size: 2rem;
			margin: 0 auto 55px;
			width: fit-content;
			line-height: 46px;
		}
		.arrow-to-down {
			margin: 55px auto 40px;
		}
		.inner {
			padding-bottom: 75px;
			.under-line {
				border-bottom: #333 solid 1px;
				width: fit-content;
				margin: 0 auto;
				font-size: 1.375rem;
				line-height: 36px;
			}
			p.bold {
				margin-top: 40px;
				font-weight: bold;
				font-size: 1.375rem;
				line-height: 36px;
			}
			h2 {
				margin-top: 50px;
				font-size: 2rem;
				letter-spacing: 4px;
				line-height: 46px;
				.gold {
					color: #d9b54a;
					line-height: 40px;
					font-size: 40px;
				}
			}
		}
	}
	.agig-outer {
		background-color: #000;
		color: #fff;
		.aging-care {
			width: 1280px;
			margin: 0 auto 80px;
			padding-top: 80px;
			padding-bottom: 80px;
			h2 {
				font-size: 2rem;
				text-align: center;
			}
			h2.big {
				margin-top: 13px;
				font-size: 2.625rem;
				margin-bottom: 70px;
				.bigger {
					font-size: 3.5rem;
					line-height: 3.8125rem;
				}
			}
			p.suitable {
				font-size: 1.375rem;
				text-align: center;
				margin-top: 30px;
				margin-bottom: 55px;
			}
			h3.bg-gold {
				width: 1120px;
				margin: 0 auto;
				background: transparent linear-gradient(90deg, #AAAAAA00 0%, #d9b54a 23%, #d9b54a 77%, #AAAAAA00 100%) 0% 0% no-repeat padding-box;
				text-align: center;
				font-size: 2rem;
				line-height: 3.5rem;
			}
			h4 {
				width: 1120px;
				margin: 0 80px 25px 80px;
				font-size: 1.5rem;
				padding-left: 15px;
				border-left: #d9b54a 8px solid;
			}
			p {
				font-size: 1.125rem;
				line-height: 2.25rem;
			}
			p.stem-cell {
				font-size: 1.125rem;
				line-height: 2.25rem;
				padding-left: 80px;
				padding-right: 80px;
			}
			.timemonster {
				font-size: 4.125rem;
				text-align: center;
				margin-top: 100px;
				margin-bottom: 65px;
			}
			
			.footer-makuake {
				width: fit-content;
				margin: 90px auto 0;
			}
			.line {
				width: 40%;
				margin: 51px auto 0;
				img {
					width: 100%;
				}
			}
		}
	}
}

footer .footer-top {
	padding-top: 120px;
	.footer-makuake {
		margin-bottom: 50px;
	}
	.line {
		width: 510px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

footer .footer-top .greeting {
	background-color: #fff;
	color: #000;
	width: 1120px;
	margin: 0 auto 72px;
	padding-bottom: 40px;
	h3.greeting-bottom {
		padding-top: 30px;
		text-align: right;
		padding-right: 40px;
		margin-bottom: 0;
		.small {
			font-size: 1rem;
		}
        br {
            display: none;
        }
	}
	h4 {
		font-size: 2rem;
		margin-bottom: 75px;
	}
	.columns {
		padding-left: 40px;
		display: flex;

		.text {
			font-size: 0.875rem;
			line-height: 1.5rem;
			text-align: justify;
			width: 760px;
			margin-left: auto;
			margin-right: 40px;
		}
	}
}

.pc-none {
	display: none;
	@media screen and (max-width: 1280px) {
		display: block;
	}
}

footer .footer-line {
	width: 510px;
	margin: 0 auto;
	border: 1px solid #d9b54a;
}

footer .footer-bottom {
	padding-bottom: 120px;
}

footer .footer-top,
footer .footer-bottom {
	background-color: #000;
	color: #fff;
	text-align: center;
	h3 {
		margin-top: 0;
		padding-top: 100px;
		font-size: 2rem;
		line-height: 2.875rem;
		margin-bottom: 40px;
	}
	p {
		font-size: 22px;
		line-height: 36px;
	}
}
.footer{
	&-qa{
		&-inner{
			max-width: 1280px;
			margin: auto;
		}
		.subject {
			text-align: center;
			margin-bottom: 30px;
			h2 {
				font-size: 2.2rem;
				margin: 0;
				.bigger {
					color: gold;
					font-size: 3rem;
				}
			}
		}
		background-color: #000;
		color: #fff;
		dl{
			margin-top: 0;
			h3{
				color: #fff;
				line-height: 3rem;
				border-left: 7px solid gold;
				padding-left: 10px;
				font-size: 1.8rem;
				font-weight: bold;
			}
			dt,dd{
				display: flex;
				font-size: 1.375rem;
				font-weight: bold;
				padding: 8px 10px;

				span{
					&:first-child{
						margin-right: 15px;
						font-size: 1.5em;
					}
				}
			}
			dt{
				background-color: gold;
				color: #000;
				align-items: center;
				margin-bottom: 30px;
			}
			dd{
				margin-left: 0;
				margin-bottom: 60px;
				align-items: start;
				span{
					&:first-child{
						margin-top: -7px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1220px) {
	header {
		.l-header {
			width: 100%;
			.main-view {
				width: 100%;
			}
			.two-cols {
				width: 80%;
				margin: 0 auto;
			}
			.three-cols {
				width: 95%;
				.d-1of3,
				.d-2of3,
				.d-3of3 {
					width: auto;
                    padding: 20px;
					img {
						width: 100%;
					}
				}
			}
            .subject {
                h2 {
                    font-size: 2.2rem;
                    .bigger {
                        font-size: 3rem;
                    }
                }
            }
		}
	}
	main {
		width: 100%;
		.main-top {
            h2.main-top-h2 {
                width: 90%;
                margin: 0 auto;
                font-size: 1.5rem;
                .bg-gold {
                    font-size: 1.625rem;
                }
            }
            .main-top-bottom {
                h3 {
                    font-size: 1.75rem;
                }
            }
		}
		.main-middle {
			.main-middle-reason {
                h2 {
                    width: 90%;
					margin: 0 auto 45px;
                    line-height: 1.4;
                }
				.two-columns {
					width: 90%;
					margin: 0 auto 45px;
					.outer-reason,
					.inner-reason {
						width: calc((100% - 40px) / 2);
					}
				}
			}
		}
        .main-skin {
           h1 {
               font-size: 2rem;
               width: 90%;
               margin: 0 auto 45px;
               .bigger {
                   font-size: 2.5rem;
               }
           } 
           p.question {
            width: 90%;
            margin: 0 auto 45px;
            br {
                display: inline;
            }
           }
           h3 {
            width: 90%;
            margin: 0 auto 45px;
            font-size: 1.75rem;  
           }
           p {
            width: 90%;
            margin: 0 auto 45px; 
            font-size: 1.25rem;
           }
        }
		.agig-outer {
            .aging-care {
                width: 100%;
                h2 {
                    width: 90%;
                    margin: 0 auto 45px; 
                }
                h3.bg-gold {
                    width: 100%;
                    margin: 0 auto 45px;
                }
                p.suitable {
                    width: 90%;
                    margin: 0 auto 45px;
                    text-align: left;
                }
                .about-monster {
                    .intro {
                        width: 100%;
                        padding: 0;
                        p,
                        .p-last {
                            width: 90%;
                            margin: 0 auto 45px;  
                        }
                    }
                    .image {
                        width: 100%;
                        position: static;
                    }
                }
                .line {
                    width: 80%;
                }
                .footer-makuake {
                    img {
                        width: 100%;
                    }
                }
			}
		}
        .main-bottom {
            .main-bottom-accordion {
                width: 100%;
                h2.main-elements {
                    br {
                        display: none;
                    }
                }
            }
            .last-section {
                width: 100%;
                h2.bg-gray {
                    br {
                        display: none;
                    }
                }
                .six-cols {
                    flex-wrap: wrap;
                    .thing {
                        width: 33%;
                        background-repeat: no-repeat;
                        padding-bottom: 50px;
                    }
                }
                .two-col {
                    display: block;
                    .left,
                    .right {
                        width: 100%;
                        .two-col {
                            width: 90%;
                            margin: 0 auto;
                            img {
                                margin-right: 0;
                            }
                        }
                    }

                }
            }
        }
	}
	footer {
		.footer-top {
			.greeting {
				width: 90%;
				.columns {
                    padding: 0;
                    width: 90%;
                    margin: 0 auto;
                    .photo {
                        width: 45%;
                        margin-right: 20px;
                        
                    }
					.text {
						width: 55%;
                        margin: 0;
					}
				}
                h3.greeting-bottom {
                    br {
                        display: none;
                    }
                }
			}
            .footer-makuake {
                img {
                    width: 100%;
                }
            }
        }
        .footer-bottom	{
            p {
                width: 90%;
                margin: 0 auto;

            }
        }
	}
}

@media screen and (max-width:769px) {
	header {
		.l-header {
            padding-bottom: 50px;
			.sp-main-view {
				display: block;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.main-view {
				display: none;
			}
			.top-two-cols {
				display: block;
				.left {
					width: 100%;
					margin: 0 auto;
					img {
						width: 100%;
					}
				}
				.right {
					width:100%;
					margin: 0 auto;
					img {
						width: 100%;
					}
				}
			}
            .subject {
                width: 90%;
                margin: 0 auto;
            }
			.subject h2 {
				font-size: 2.2rem;
				.bigger {
					font-size: 3rem;
				}
			}
			.top-recommend{
				padding: 0 16px;
				ul{
					li{
						span{
							i{
								margin-top: 10px;
							}
							&:first-child{
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
	main {
		.main-top {
			.looks-old{
				&__contents{
					&__item{
						.subject {
							h3{
								
							}
						}
					}
				}
			}
            p {
                width: 90%;
                margin: 0 auto;
                text-align: left;
            }
            h2.main-top-h2 {
                font-size: 1.625rem;
                text-align: left;
                .bg-gold {
                    font-size: 1.625rem;
                }
            }
			.measures{
				padding: 0 16px;
				&-lists{
					
				}
			}
            .arrow-to-down {
                width: 100%;
                margin: 60px auto;
                img {
                    width: 100%;
                }
            }
            h2 {
                font-size: 1.75rem;
                width: 90%;
                margin: 0 auto;
                .bigger {
                    font-size: 2rem;
                }
            }
            h2.big {
                font-size: 2.2rem;
                .bigger {
                    font-size: 3rem;
                }
            }
				.human-cells{
					.human-cells-about{
						.border-left{
							margin-bottom: 16px;
							margin-left: 40px;
							font-size: 1.8rem;
						}
						.stem-cell{
							padding-right: 16px;
							padding-left: 16px;
						}
					}
				}
			
            .main-top-bottom {
                h3 {
                    font-size: 1.75rem;
                    width: 90%;
                    margin: 0 auto 30px;
                    .bigger {
                        font-size: 2.2rem;
                        span.dotted {
                            padding-top: 0.3rem;
                        }
                    }
                    .gold {
                        font-size: 1.5rem;
                    }
                }
                h4 {
                    width: 90%;
                    margin: 0 auto 30px;
                    span {
                        font-size: 80px;
                    }
                
                }
                p {
                    margin-bottom: 30px;
                    font-size: 1.25rem;
                    text-align: left;
                }
            }
			.about-monster{
				.image{
					position: inherit;
					width: 70%;
					margin: auto;
					
				}
				.intro{
					padding-left: 0;
					padding-top: 16px;
					padding-bottom: 16px;
					h2{
						font-size: 2rem;
						span{
							font-size: 1.6rem;
						}
					}
					&:last-child{
						p{
							width: 90%;
						}
					}
				}
			}
			.components-skin{
				.main-bottom-accordion{
					.main-elements{
						width: 100%;
						background: transparent linear-gradient(90deg, #AAAAAA00 0%, #808080 5%, #808080 95%, #AAAAAA00 100%) 0% 0% no-repeat padding-box;
					}
				}
			}
		}
        .main-middle {
            .main-middle-reason {
                h2 {
                    font-size: 1.75rem;
                    width: 90%;
                    margin: 0 auto;
                    text-align: left;
                    span {
                    span.gold {
                        font-size: 2.5rem;
                     }
                    }
                }
                .two-columns {
                    display: block;
                    .outer-reason,
                    .inner-reason {
                        width: 100%;
                        padding: 25px 20px 0;
                    }
                }
                p.last {
                    width: 90%;
                    margin: 0 auto 30px;
                }
            }
        }
        .main-skin {
            h2 {
                font-size: 1.75rem;
                width: 90%;
                margin: 0 auto 30px;
            }
            h1 {
                font-size: 2.2rem;
                width: 90%;
                margin: 0 auto 30px;
                text-align: left;
                .bigger {
                    font-size: 3rem;
                }
            }
            p{
                width: 90%;
                margin: 0 auto 30px;
                text-align: left;
            }
            p.question {
                br {
                    display: none;
                }
            }
            p.answer {
                img {
                    width: 100%;
                }
            }
            h3 {
                font-size: 1.625rem;
                width: 90%;
                margin: 0 auto 30px;
                text-align: left;
                .dotted {
                    padding-top: 0.3rem;   
                }
            }
            h2 .bigger {
                font-size: 80px;
            }
        }
	}
    footer {
        .footer-top {
            .greeting {
                h3 {
                    font-size: 1.5rem;
                    width: 90%;
                    margin: 0 auto 30px;
                }
                p {
                    width: 90%;
                    margin: 0 auto 30px;
                    img {
                        width: 100%;
                    }
                }
                h4 {
                    font-size: 1.5rem;
                    width: 90%;
                    margin: 0 auto 30px;
                }
                .columns {
                    display: block;
                    padding: 0;
                    .photo {
                        width: 90%;
                        margin: 0 auto 30px; 
                        img {
                            width: 100%;
                        }
                    }
                    .text {
                        width: 90%;
                        margin: 0 auto 30px;
                    }
                }
                h3.greeting-bottom {
                    padding: 0;
                    br {
                        display: inline;
                    }
                }
            }
            .line {
                width: 100%;
                img {
                    width: 90%;
                }
            }
        }
        .footer-bottom {
            h3 {
                margin: 0 auto 30px;
            }
            p {
                font-size: 1rem;
                // text-align: left;
                margin: 0 auto 30px;
                width: 90%;
            }
        }
		.footer-qa{
			padding: 0 16px;
		}
    }
}